@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;1,100&display=swap');


html, body { 
    margin: 0;
    min-height: 100%;
 }

* {
  font-family: 'K2D', sans-serif;
  text-decoration: none;
 }

 a, a:hover, a:visited, a:active {
    color: inherit;
   }

 body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.flex-container-1 {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:center;
    font-size: 2vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 2vw;
    border-bottom: 8px solid palevioletred;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.flex-item-1 {
    border: 4px solid black;
    border-bottom: none;
    border-radius: 1.2vw 1.2vw 0 0;
    padding: 5px 1vw;
    background-color: rgb(251, 33, 255);
    color: whitesmoke;
    margin: 0 0.4vw;
}

h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-family: 'Luckiest Guy', cursive;
  font-size: 7vw;
  text-align: center;
  text-shadow: 0.4vw 0.4vw #23d5ab;
}

#subtitle {
    display: block;
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-style: italic;
    margin: 0 auto;
    font-size: 4vw;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4vw;
    text-align: center;
    text-shadow: 0.2vw 0.3vw 2vw #d523b4;
  }

#intro, #page2-intro {
    width: 80%;
    margin: 40px auto 60px;
    font-size: 1.7vw;
    background-color: whitesmoke;
    padding: 0.5vw;
    border-radius: 1vw;
    box-shadow: 10px 0px 50px 35px #c09abe;
}

#scorpy {grid-area: scorpy;}
#crichton {grid-area: crichton;}
#rygel {grid-area: rygel;}
#zhaan {grid-area: zhaan;}
#chianna {grid-area: chianna;}
#crais {grid-area: crais;}
#aeryn {grid-area: aeryn;}
#dargo {grid-area: dargo;}

#grid {
    display: grid;
    grid-template-areas: 
        'scorpy crichton'
        'crais rygel'
        'zhaan aeryn'
        'chianna dargo';
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: 20vw;
    justify-content: center;
    gap: 10px;
    margin: 25px auto 30px;
    width: 85%;
}

#grid > article {
    border: 2px solid black;
    border-radius: 1vw;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 1.5em;
    position: relative;
}

#grid > article::after {
    content: "";
    clear: both;
    display: table;
}

article > h3 {
    margin: 0;
    font-size: 2.5vw;
}

article > p{
  margin-top: 10px;
  width: 59%;
  font-size: 1.7vw;
}

img{
    height: 100%;
    object-fit: cover;
    max-width: 40%;
    object-position: 100% 0;
    float: right;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

article#rygel > img {
    object-position: 45% 0;
}

article#zhaan > img {
    object-position: 60% 0;
}

article#chianna > img {
    object-position: 70% 0;
}

article#crais > img {
    object-position: 10% 0;
}

article#aeryn > img {
    object-position: 70% 0;
}

article#dargo > img {
    object-position: 50% 0;
}

#home, #back-to-home{
    display: block;
    width:fit-content;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    background-color: #e73c7e;
    border: 3px solid black;
    border-radius: 1vw;
}

.body-margin {
    width: 80%;
    margin: 3vh auto;
    display: flow-root;
 }

 #page2-h1 {
    margin: 2vw auto 2vw;
 }

 .buttons-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons-div > button {
    border: 0.5vw solid black;
    font-size: 3vw;
    margin: 0.5rem;
    flex-grow: 1;
    padding: 2vh 0 2vh 0;
}

  button {
    width: 6em;
    background-color: #ee7752;
    line-height: 1.4ch;
    /*height: 100%; << allows flex-items to resize independently*/
    transition: background-color 0.8s;
  }

  button:hover {
    background-color: #000;
    line-height: 80%;
  }

  #back-to-home:hover, #home:hover {
    background-color: rgb(87, 5, 5);
    color: yellow;
  }
  
  #back-to-home{
    margin: 3vw auto;
  }
  
  button:active {
  background-color: black;
  transition: none;
}

  button:hover span {
    display: none
  }
  
  #button1:hover:before {
    content: "crazy";
    color: #059626;
    font-size: 3vmin;
  }
  #button2:hover:before {
    content: "kid";
    color: #059626;
    font-size: 3vmin;
  }
  #button3:hover:before {
    content: "hell";
    color: #059626;
    font-size: 3vmin;
  }
  #button4:hover:before {
    content: "metre";
    color: #059626;
    font-size: 3vmin;
  }
  #button5:hover:before {
    content: "second";
    color: #059626;
    font-size: 3vmin;
  }
  #button6:hover:before {
    content: "Parental guidance moment!";
    color: #cf16b3;
  }
  #button7:hover:before {
    content: "Censored!";
    color: #cf16b3;
  }
  #button8:hover:before {
    content: "An edible slug; a Hynerian delicacy";
    color: #059626;
    font-size: 3vmin;
  }
  #button9:hover:before {
    content: "A military alien race with tall statures and face tentacles";
    color: #059626;
    font-size: 2vmin;
  }
  #button10:hover:before {
    content: "Censored!";
    color: #cf16b3;
  }
  #button11:hover:before {
    content: "an alcoholic drink, ten times as potent as Earth whiskey";
    color: #059626;
    font-size: 2vmin;
  }
  #button12:hover:before {
    content: "crispy cooked meat";
    color: #059626;
    font-size: 3vmin;
  }
  #button13:hover:before {
    content: "a unit of speed";
    color: #059626;
    font-size: 3vmin;
  }
  #button14:hover:before {
    content: "used to manufacture pulse weapon ammunition";
    color: #059626;
    font-size: 2vmin;
  }
  #button15:hover:before {
    content: "fantastic";
    color: #059626;
    font-size: 3vmin;
  }
  #button16:hover:before {
    content: "rubbish";
    color: #059626;
    font-size: 3vmin;
  }
  #button17:hover:before {
    content: "a Luxan physiological trait, typified by bouts of uncontrollable mania";
    color: #059626;
    font-size: 2vmin;
  }
  #button18:hover:before {
    content: "an animal appendage";
    color: #059626;
    font-size:3vmin;
  }
  #button19:hover:before {
    content: "girl";
    color: #059626;
    font-size: 3vmin;
  }
  #button20:hover:before {
    content: "antique Luxan bladed weapon";
    color: #059626;
    font-size: 3vmin;
  }
  #button21:hover:before {
    content: "a unit of currency";
    color: #059626;
    font-size: 3vmin;
  }
  #button22:hover:before {
    content: "a deadly, asteroid-sized space-dog!";
    color: #059626;
    font-size: 3vmin;
  }
  #button23:hover:before {
    content: "Censored!";
    color: #cf16b3;
  }
  #button24:hover:before {
    content: "Hynerian exclamation";
    color: #059626;
    font-size: 3vmin;
  }
  #button25:hover:before {
    content: "a dental hygiene worm (yes, an actual alien worm)";
    color: #059626;
    font-size: 2vmin;
  }
  #button26:hover:before {
    content: "the highest ranking member of the Hynerian royalty";
    color: #059626;
    font-size: 2vmin;
  }
  #button27:hover:before {
    content: "1 hour";
    color: #059626;
    font-size: 3vmin;
  }
  #button28:hover:before {
    content: "an autonomous repair bot";
    color: #059626;
    font-size: 3vmin;
  }

@media (max-width: 600px) {
    #grid {
        width: 80%;
        margin-top: 5px;
        grid-template-areas: 
        'scorpy'
        'crichton'
        'crais'
        'rygel'
        'zhaan'
        'aeryn'
        'chianna'
        'dargo';
        grid-template-columns: 1fr;
        grid-auto-rows: 45vw;
        gap: 5px;
    }
    h1 {
        margin: 30px auto 0;
    }

    article > h3 {
       font-size: 4vw;
    }

    article > p {
        width: 50%;
        font-size: 3.2vw;
    }

    #intro {
        font-size: 3.2vw;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    img {
        max-width: 50%;
    }

    .flex-container-1 {
        margin: 0 auto 20px;
        padding-top: 10px;
        border-bottom: 3px solid palevioletred;
        gap: 1vw;
    }

    .flex-item-1 {
        font-size: 2.5vw;
        padding: 0 1vw;
    }

    #home {
        font-size: 3vw;
    }
}
  
@media (min-width: 1300px) {
    #grid {
        grid-template-rows: 300px 300px;
    }
}

@media (min-width: 1500px) {
    #grid {
        grid-template-columns: 600px 600px;
        grid-auto-rows: auto;
        padding: 0;
    }
    h1 {
        font-size: 110px;
        margin: 90px auto 0;
    }

    h2, #subtitle {
        font-size: 70px;
    }
    .flex-item-1{
        font-size: 27px;
        margin: 0 10px 0 0;
    }
    .flex-container-1 {
        padding-top: 30px;
    }

    article > p, #intro, #page2-intro {
        font-size: 25px;
      }

    article > h3 {
        font-size: 40px;
    }

    #intro, #page2-intro, #submit-form {
        width: 1200px;
        margin: 80px auto 100px;
    }

    #home, #back-to-home {
        font-size: 30px;
        width: 200px;
    }

    .buttons-div > button {
        flex-grow: 1;
        font-size: 50px;
        max-width: 400px;
        border: 9px solid black;
    }
    
}


